---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import LangToggle from '../components/LangToggle.astro';
import UserInfo from '../components/UserInfo.astro';
import FooterLinks from '../components/FooterLinks.astro';
---

<Layout title="Moyuin's Home">
  <ThemeToggle />
  <LangToggle />
  <main>
    <UserInfo />
    <FooterLinks />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
</style>
