<div class="links">
    <a href="https://blog.moyuin.top" data-i18n="nav_blog" title="博客" target="_blank" rel="noopener">博客</a> ·
    <a href="https://notes.moyuin.top" data-i18n="nav_notes" title="笔记" target="_blank" rel="noopener">笔记</a> ·
    <a href="/lab" data-i18n="nav_lab" title="实验室">实验室</a>
</div>
