<div class="links">
    <a href="https://blog.moyuin.top" data-zh="博客" data-en="Blog" title="博客">博客</a> ·
    <a href="https://notes.moyuin.top" data-zh="笔记" data-en="Notes" title="笔记">笔记</a> ·
    <a href="/lab" data-zh="实验室" data-en="Lab" title="实验室">实验室</a>
</div>
